@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@100;300&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, segoe ui, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
}
body h1, body h2, body h3, body h4, body h5 {
  font-family: "roboto", sans-serif;
}

container {
  height: 100vh;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 26rem 1fr;
  color: #111;
  background: #38CCCC;
}

article {
  background: #FFF;
  color: #111;
  padding: 1.5rem;
}
article.dark {
  color: #EEE;
  background: #212121;
}
article h1 {
  font-weight: 300;
  font-size: 2em;
}

main {
  padding: 1.5rem;
  align-self: center;
  display: flex;
  align-content: center;
  margin: auto;
}
main .color-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}
main .color-grid > * {
  position: relative;
  text-align: center;
  aspect-ratio: 1;
  font-size: 2rem;
  font-weight: 300;
  padding: 0.4em;
  font-family: "roboto", sans-serif;
  display: grid;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
main .color-grid > * > * {
  align-self: center;
}
main .color-grid > *::after {
  position: absolute;
  bottom: 0.5em;
  font-size: 0.5em;
  height: min-content;
  text-align: center;
  left: 0;
  right: 0;
  white-space: pre;
}
main .color-grid.light {
  color: #111;
}
main .color-grid.light .background-primary {
  background: #FFF;
}
main .color-grid.light .background-primary::after {
  content: "RGB(255, 255, 255) \a#FFF";
}
main .color-grid.light .background-secondary {
  background: #F0F0F0;
}
main .color-grid.light .background-secondary::after {
  content: "RGB(240, 240, 240) \a#F0F0F0";
}
main .color-grid.light .text-color {
  background: #111;
  color: #eeeeee;
}
main .color-grid.light .text-color::after {
  content: "RGB(17, 17, 17) \a#111";
}
main .color-grid.light .success {
  background: #B1DFBB;
}
main .color-grid.light .success::after {
  content: "RGB(177, 223, 187) \a#B1DFBB";
}
main .color-grid.light .danger {
  background: #F1B0B7;
}
main .color-grid.light .danger::after {
  content: "RGB(241, 176, 183) \a#F1B0B7";
}
main .color-grid.light .category-btn {
  background: #F5F7F5;
}
main .color-grid.light .category-btn::after {
  content: "RGB(245, 247, 245) \a#F5F7F5";
}
main .color-grid.dark {
  color: #EEE;
}
main .color-grid.dark .background-primary {
  background: #212121;
  color: #EEE;
}
main .color-grid.dark .background-primary::after {
  content: "RGB(33, 33, 33) \a#212121";
}
main .color-grid.dark .background-secondary {
  background: #4F4F4F;
}
main .color-grid.dark .background-secondary::after {
  content: "RGB(79, 79, 79) \a#4F4F4F";
}
main .color-grid.dark .text-color {
  background: #EEE;
  color: #111111;
}
main .color-grid.dark .text-color:after {
  content: "RGB(238, 238, 238) \a#EEE";
}
main .color-grid.dark .success {
  background: #B1DFBB;
  color: #111111;
}
main .color-grid.dark .success::after {
  content: "RGB(177, 223, 187) \a#B1DFBB";
}
main .color-grid.dark .danger {
  background: #F1B0B7;
  color: #111111;
}
main .color-grid.dark .danger::after {
  content: "RGB(241, 176, 183) \a#F1B0B7";
}
main .color-grid.dark .category-btn {
  background: #333B3B;
}
main .color-grid.dark .category-btn::after {
  content: "RGB(51, 59, 59) \a#333B3B";
}

main:has(#logo-grid) {
  width: 100%;
  padding: 0;
}

#logo-grid {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#logo-grid * {
  width: 20rem;
}

.breakpoint {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}
.breakpoint * {
  width: 100%;
}
.breakpoint h1 {
  font-size: 5rem;
  font-weight: 100;
  text-decoration: underline #38CCCC;
}
.breakpoint .sub-topic {
  margin-top: -1.5em;
  font-size: 2em;
  font-weight: 500;
}

#projects-page article ul {
  list-style-type: none;
}
#projects-page article ul li:before {
  font-family: "bootstrap-icons";
  font-weight: bold;
  font-size: 2em;
  margin-left: -1.5em;
  vertical-align: -0.35em;
}
#projects-page article ul li.do:before {
  content: "\f26e";
  color: #B1DFBB;
}
#projects-page article ul li.dont:before {
  content: "\f62a";
  color: #F1B0B7;
}

main:has(.projects) {
  padding: 0;
  width: 100%;
}

.projects {
  color: #EEE;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.projects .project {
  display: grid;
  grid-auto-flow: row;
}
.projects .project span {
  font-size: 2.2em;
}
.projects .project a {
  text-decoration: none;
  color: inherit;
}
.projects .project a:before {
  font-family: "bootstrap-icons";
  font-size: 1em;
  font-weight: bold;
  padding-right: 0.5rem;
  vertical-align: -0.125em;
}
.projects .project .project-url {
  font-size: 1.2em;
}
.projects .project .project-url:before {
  content: "\f470";
  padding-right: 0.2rem;
  vertical-align: -0.25em;
}
.projects .project .project-repo::before {
  content: "\f3ed";
}

@media print {
  @page {
    size: 1920px 1080px;
    margin: 0;
  }
  .breakpoint, container {
    height: 1080px !important;
    width: 1920px !important;
  }
  container {
    grid-template-columns: 35rem 1fr;
  }
  article {
    padding: 3rem;
  }
}
.brand-color-grid {
  background: #FFF;
  padding: 0.5em;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.5fr repeat(3, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  align-content: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  width: min(30rem, 30vw);
}
.brand-color-grid * {
  display: grid;
  height: 3em;
  align-content: center;
}
.brand-color-grid *:first-child {
  height: 100%;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}
.brand-color-grid *:nth-child(even) {
  grid-column: span 2;
}
.brand-color-grid *:nth-child(2) {
  background: #38CCCC;
  height: 100%;
  grid-area: 1/2/2/4;
}

/*# sourceMappingURL=index.css.map */
